@import './variables.scss';
@import './keyframes.scss';

@mixin primary-container($padding: 4px) {
  background-color: $primaryColor;
  border: 2px solid $lightPrimaryColor;
  border-radius: 8px;
  color: white;
  padding: $padding;
  transition: background-color 100ms linear;

  &:focus {
    outline: none;
    background-color: $lightPrimaryColor;
  }
}

@mixin animated-primary-container {
  animation: appear 300ms ease-out;
}

@mixin clickable-primary-container {
  cursor: pointer;
  transition: scale 50ms linear, background-color 100ms linear;
  &:hover, &:focus {
    outline: none;
    background-color: $lightPrimaryColor;
  }
  &:active {
    scale: 0.95;
  }
}

@mixin primary-scrollbar($color: $primaryColor) {
  scrollbar-color: $color #FFFFFF00;
}
